.card {
  box-shadow: arp-shadow-2dp($gray-600);
  border: 0;
  // color: $gray-600;
  .card-header {
    background: $card-header-bg;
  }
  .card-footer {
    background: $card-footer-bg;
  }
  .card-header, .card-footer {
    border-color: $card-border-color
  }
  .card-title {
    margin: 0 0 1rem;
    font-weight: $font-weight-semi;
  }
}