.flag-icon-background {
    display: inline-block;
}

$flag-sizes: (
  20: 15,
  40: 30,
  32: 24,
  60: 45
);

@each $name, $value in $flag-sizes {
    .flag-#{$name}x#{$value} {
        width: #{$name}px;
        height: #{$value}px;
    }
}