.form-control {
  @include input();
  @include input-placeholder($grey-800, .6);
}

.input-group {
  border-radius: $input-default-radius;
  &.has-success,
  &.has-error,
  &.has-warning {
    position: relative;
    overflow: hidden;
    @include input-state-icon();
  }

  &.has-success {
    &::after {
      content: "\e64c";
      color: $success;
      background: rgba($success, .14);
    }
  }
  &.has-error {
    &::after {
      content: "\e646";
      color: $danger;
      background: rgba($danger, .14);
    }
  }
  &.has-warning {
    &::after {
      content: "\e646";
      color: $warning;
      background: rgba($warning, .14);
    }
  }
  
  @include icons {
    color: $grey-800;
  }
  @include rounded-input();
  @include input-group-focus();
  @include transition-all();
}

.input-group-text {
  @include input-group-icon();
  .input-group-prepend & {
    padding-right: 1px !important;
  }
}
