$arp-shadow-umbra-opacity: 0.2 !default;
$arp-shadow-penumbra-opacity: 0.14 !default;
$arp-shadow-ambient-opacity: 0.12 !default;

// Declare the following for reuse with both mixins and the bootstrap variables
$arp-shadow-focus: 0 0 8px rgba($black, .18), 0 8px 16px rgba($black, .36);

$arp-shadow-2dp: 0 2px 2px 0 rgba($black, $arp-shadow-penumbra-opacity),
  0 3px 1px -2px rgba($black, $arp-shadow-umbra-opacity),
  0 1px 5px 0 rgba($black, $arp-shadow-ambient-opacity);

$arp-shadow-3dp: 0 3px 4px 0 rgba($black, $arp-shadow-penumbra-opacity),
  0 3px 3px -2px rgba($black, $arp-shadow-umbra-opacity),
  0 1px 8px 0 rgba($black, $arp-shadow-ambient-opacity);

$arp-shadow-4dp: 0 4px 5px 0 rgba($black, $arp-shadow-penumbra-opacity),
  0 1px 10px 0 rgba($black, $arp-shadow-ambient-opacity),
  0 2px 4px -1px rgba($black, $arp-shadow-umbra-opacity);

$arp-shadow-6dp: 0 6px 10px 0 rgba($black, $arp-shadow-penumbra-opacity),
  0 1px 18px 0 rgba($black, $arp-shadow-ambient-opacity),
  0 3px 5px -1px rgba($black, $arp-shadow-umbra-opacity);

$arp-shadow-8dp: 0 8px 10px 1px rgba($black, $arp-shadow-penumbra-opacity),
  0 3px 14px 2px rgba($black, $arp-shadow-ambient-opacity),
  0 5px 5px -3px rgba($black, $arp-shadow-umbra-opacity);

$arp-shadow-16dp: 0 16px 24px 2px rgba($black, $arp-shadow-penumbra-opacity),
  0 6px 30px 5px rgba($black, $arp-shadow-ambient-opacity),
  0 8px 10px -5px rgba($black, $arp-shadow-umbra-opacity);

$arp-shadow-24dp: 0 9px 46px 8px rgba($black, $arp-shadow-penumbra-opacity),
  0 11px 15px -7px rgba($black, $arp-shadow-ambient-opacity),
  0 24px 38px 3px rgba($black, $arp-shadow-umbra-opacity);
