$input-height: rem(40); // 40px
$input-font-size: rem(14); // 14px
$input-default-radius: rem(4);
$input-rounded-radius: rem(30); // 30px
$input-icon-font-size: rem(14);
$input-state-icon-size: rem(13); // 13px

$input-border-color: $gray-600;
$input-border-width: 1px;

// checkbox
$checkbox-height: rem(17.6);
$checkbox-width: rem(17.6);