$input-height: 2.5rem; // 40px
$input-font-size: .875em; // 14px
$input-default-radius: .25rem;
$input-rounded-radius: 1.875rem; // 30px
$input-icon-font-size: .875em;
$input-state-icon-size: .8125em; // 13px

$input-border-color: $grey-600;
$input-border-width: 1px;