$font-size-h1:                 2.125em     !default; // ~ 34px
$font-size-h2:                 1.8125em    !default; // ~ 29px
$font-size-h3:                 1.5em       !default; // ~ 24px
$font-size-h4:                 1.25em      !default; // ~ 20px
$font-size-h5:                 1.0625em    !default; // ~ 17px
$font-size-h6:                 .8125em     !default; // ~ 13px

$font-size-display-1:          4.6875em    !default; // ~75px
$font-size-display-2:          3.75em      !default; // ~60px
$font-size-display-3:          2.8125em    !default; // ~45px
$font-size-display-4:          2.1875em    !default; // ~35px

$font-size-title:              $font-size-base !default; // ~14px
$font-size-subtitle:           .875em      !default; // ~14px

$font-size-paragraph:          1em          !default; // ~16px
$font-size-navbar:             1em          !default;
$font-size-mini:               0.7142em     !default;
$font-size-small:              0.8571em     !default;
$font-size-large:              1em          !default;
$font-size-large-navbar:       20px         !default;
$font-size-blockquote:         1em          !default; // ~ 15px

$font-weight-light:             300         !default;
$font-weight-normal:            400         !default;
$font-weight-semi:              600         !default;
$font-weight-bold:              700         !default;

$line-height-general:        1.5            !default;
$line-height-nav-link:       1.625rem       !default;
$btn-icon-line-height:       2.4em          !default;
$line-height:                1.35em         !default;
$line-height-lg:             54px           !default;