@import "base";
@import "typography";
@import "spacing";
@import "colors";
@import "colored-shadows";
@import "buttons";
@import "inputs";
@import "animation";





// LAYOUT VARS
$topbar-height: 80px;
$topbar-height-mobile: 70px;

$sidebar-left-width: 120px;
$sidebar-left-width-mobile: 90px;
$sidebar-left-secondary-width: 220px;
$sidebar-left-secondary-width-mobile: 190px;
$side-clearance: 20px;

