@mixin button-variant(
  $color,
  $focus-color,
  $active-color,
  $body-bg,
  $focus-background,
  $active-background,
  $border,
  $focus-border,
  $active-border,
  $shadow,
  $hover-shadow
) {
  color: $color;
  background-color: $body-bg;
  border-color: $border;
  box-shadow: $shadow;

  &:hover,
  &:active {
    color: $focus-color !important;
    background-color: $focus-background !important;
    border-color: $focus-border !important;
    box-shadow: $hover-shadow;
  }
  &:focus {
    color: $focus-color !important;
    box-shadow: none !important;
    background-color: $focus-background !important;
    border-color: $focus-background !important;
  }

  &.active,
  .open > &.dropdown-toggle,
  .show > &.dropdown-toggle {
    color: $active-color;
    background-color: $active-background !important;
    border-color: $active-border !important;

    &:hover,
    &:focus,
    &.focus {
      color: $focus-color;
      background-color: $active-background;
      border-color: $active-border;
    }
  }

  .open > &.dropdown-toggle.btn-icon {
    color: inherit;
    background-color: $body-bg;

    &:hover {
      background-color: $focus-background;
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      background-color: $body-bg !important;
      border-color: $border !important;
    }
    @include hover {
      background-color: $body-bg !important;
      border-color: $border !important;
      box-shadow: none !important;
      transform: none !important;
    }
  }
}

// Default flat butotn
@mixin button($color) {
  $lighten: lighten($color, 5);      
  @include button-variant(
    $white,   // color
    $white,   // focus-color
    $white,   // active-color
    $color,   // background
    $lighten, // focus-background
    $lighten, // active-background
    $color,   // border
    $lighten, // focus-border
    $lighten, // active-border
    none,      // shadow
    shadow-button-hover($shadow-button-color) // hover-shadow
  );
}

// Outline button
@mixin button-outline($color) {
  @include button-variant(
    $color, // color
    $white, // focus-color
    $white, // active-color
    $white, // background
    $color, // focus-background
    $color, // active-background
    $color, // border
    $color, // focus-border
    $color,  // active-border
    none,   // shadow
    shadow-button-hover($shadow-button-color) // hover-shadow
  );
}
// Raised button
@mixin button-raised($color) {
  // @include shadow-8dp-color($color); // Raised button default shadow
  $lighten: lighten($color, 5);
  @include button-variant(
    $white,   // color
    $white,   // focus-color
    $white,   // active-color
    $color,   // background
    $lighten, // focus-background
    $lighten, // active-background
    $color,   // border
    $lighten, // focus-border
    $lighten,  // active-border
    shadow-button($shadow-button-color), // shadow
    shadow-button-hover($shadow-button-color) // hover-shadow
  );
}

@mixin button-link() {
  &.btn-link {
    position: relative;
    background-color: $button-link-bg;
    padding: $button-link-padding;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 0;
      left: 0;
      height: $button-link-border-width;
      @include transition-all();
    }
    &:hover {
      text-decoration: none;
      &::after{
        width: 100%;
      }
    }
  }
}

@mixin button-colors() {
  @each $name, $value in $theme-colors {
    &.btn-#{$name} {
      @include button($value);
    }
    &.btn-outline-#{$name} {
      @include button-outline($value);
    }
    &.btn-raised-#{$name} {
      @include button-raised($value);
    }
    &.btn-link-#{$name} {
      color: $value !important;
      &::after {
        background-color: $value !important;
      }
    }
  }
  &.btn-default {
    background: $white;
    color: $heading-color;
    @include hover {
      box-shadow: shadow-button-hover($shadow-button-color);
    }
    @include active-focus {
      box-shadow: none;
    }
  }
  &.btn-raised-default {
    background: $white;
    color: $heading-color;
    box-shadow: shadow-button($shadow-button-color);
    @include hover {
      box-shadow: shadow-button-hover($shadow-button-color);
    }
    @include active-focus {
      box-shadow: none;
      border-color: $gray-200;
    }
  }
}

@mixin button-socials {
  @each $name, $value in $social-colors {
    &.btn-#{$name} {
      @include button($value);
      &.btn-outline {
        @include button-outline($value);
      }
      &.btn-raised {
        @include button-raised($value);
      }
    }
  }
}

@mixin button-sizes() {
  &.btn-sm {
    font-size: $button-sm-font-size;
    padding: $button-sm-padding;
  }
  &.btn-lg {
    font-size: $button-lg-font-size;
    padding: $button-lg-padding;
  }
  &.btn-icon {
    &.btn-sm {
      height: 36px;
      width: 36px;
      padding: 0;
      @include icons {
        font-size: $button-icon-sm-size;
      }
    }
    &.btn-lg {
      height: 56px;
      width: 56px;
      padding: 0;
      @include icons {
        font-size: $button-icon-lg-size;
      }
    }
  }
}

@mixin button-icon-style() {
  @include icons {
    font-size: $button-icon-size;
    margin-right: $button-icon-margin;
  }
  
  .feather {
    height: 16px;
    width: 16px;
    margin-right: $button-icon-margin;
  }
}
