$border-width: 1px !default;
$border-width-md: 2px !default;
$border-width-lg: 3px !default;
$border-width-xl: 4px !default;

$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;
$border-radius-circle: 50% !default;