.accordion {
  .card {
    margin-bottom: $spacing-md;
    border-radius: $border-radius !important;
  }
  .card-header {
    cursor: pointer;
    .i-arrow {
      transform: rotate(0deg);
      @include transition-all();
    }
    &[aria-expanded="true"] {
      .i-arrow {
        transform: rotate(-90deg);
      }
    }
  }
}