.list-1 {
  border: 0;
  box-shadow: shadow-2dp($gray-400);
  .list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: rem(30) rem(40);
    border: 0;
    border-radius: 0 !important;
    border-left: 3px solid transparent;
    @include transition-all();

    &:hover {
      box-shadow: shadow-4dp($gray-400);
      border-left: 3px solid $primary;
      .item-action {
        .btn {
          background: $primary !important;
          border-color: $primary !important;
          color: $white;
          // box-shadow: 
        }
      }
    }
    .item-thumbnail, .item-icon {
      height: rem(56);
      width: rem(56);
      border-radius: $border-radius;
    }
    .item-icon {
      background: $background-light;
      border: 1px solid $border-color-light;
      color: $gray-600;
      font-size: rem(24);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .item-content {
      flex-grow: 1;
      padding: 0 rem(40) 0 rem(15);
      h4 {
        font-size: rem(18);
        margin-top: 0;
        margin-bottom: rem(6);
        font-weight: $font-weight-normal;
      }
      .item-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
        span {
          color: $gray-600;
          font-weight: $font-weight-semi;
          padding-right: rem(20);
          font-size: rem(13);
          i,
          svg {
            margin-right: rem(6);
          }
        }
      }
 
    }
    .item-action {
      .btn {
        background: $white !important;
        border-color: $white;
        color: $black;
      }
    }
  }
}
