@mixin arp-button-variant(
  $color,
  $focus-color,
  $active-color,
  $background,
  $focus-background,
  $active-background,
  $border,
  $focus-border,
  $active-border,
  $shadow,
  $hover-shadow
) {
  color: $color;
  background-color: $background;
  border-color: $border;
  box-shadow: $shadow;

  &:hover,
  &:active {
    color: $focus-color !important;
    background-color: $focus-background !important;
    border-color: $focus-border !important;
    box-shadow: $hover-shadow;
  }
  &:focus {
    color: $focus-color !important;
    box-shadow: none !important;
    background-color: $focus-background !important;
  }

  &.active,
  .open > &.dropdown-toggle,
  .show > &.dropdown-toggle {
    color: $active-color;
    background-color: $active-background !important;
    border-color: $active-border !important;

    &:hover,
    &:focus,
    &.focus {
      color: $focus-color;
      background-color: $active-background;
      border-color: $active-border;
    }
  }

  .open > &.dropdown-toggle.btn-icon {
    color: inherit;
    background-color: $background;

    &:hover {
      background-color: $focus-background;
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      background-color: $background !important;
      border-color: $border !important;
    }
    @include hover {
      background-color: $background !important;
      border-color: $border !important;
      box-shadow: none !important;
      transform: none !important;
    }
  }
}

// Default flat butotn
@mixin button($color) {
  $lighten: lighten($color, 5);      
  @include arp-button-variant(
    $white,   // color
    $white,   // focus-color
    $white,   // active-color
    $color,   // background
    $lighten, // focus-background
    $lighten, // active-background
    $color,   // border
    $lighten, // focus-border
    $lighten, // active-border
    none,      // shadow
    arp-shadow-2dp($color) // hover-shadow
  );
}

// Outline button
@mixin button-outline($color) {
  @include arp-button-variant(
    $color, // color
    $white, // focus-color
    $white, // active-color
    $white, // background
    $color, // focus-background
    $color, // active-background
    $color, // border
    $color, // focus-border
    $color,  // active-border
    none,   // shadow
    arp-shadow-2dp($color) // hover-shadow
  );
}
// Raised button
@mixin button-raised($color) {
  @include shadow-4dp-color($color); // Raised button default shadow
  $lighten: lighten($color, 5);
  @include arp-button-variant(
    $white,   // color
    $white,   // focus-color
    $white,   // active-color
    $color,   // background
    $lighten, // focus-background
    $lighten, // active-background
    $color,   // border
    $lighten, // focus-border
    $lighten,  // active-border
    arp-shadow-2dp($color), // shadow
    arp-shadow-4dp($color) // hover-shadow
  );
}

@mixin button-colors() {
  @each $name, $value in $theme-colors {
    &.btn-#{$name} {
      @include button($value);
    }
    &.btn-outline.btn-outline-#{$name} {
      @include button-outline($value);
    }
    &.btn-raised.btn-raised-#{$name} {
      @include button-raised($value);
    }
  }
}

@mixin button-socials {
  @each $name, $value in $social-colors {
    &.btn-#{$name} {
      @include button($value);
      &.btn-outline {
        @include button-outline($value);
      }
      &.btn-raised {
        @include button-raised($value);
      }
    }
  }
}

@mixin button-sizes() {
  &.btn-sm {
    font-size: $button-sm-font-size;
    padding: $button-sm-padding;
  }
  &.btn-lg {
    font-size: $button-lg-font-size;
    padding: $button-lg-padding;
  }
}

@mixin button-icon-style() {
  .icon,
  i,
  [class^="ti-"],
  [class*=" ti-"] {
    font-size: $button-icon-size;
    margin-right: $button-icon-margin;
  }
  .feather {
    height: 16px;
    width: 16px;
    margin-right: $button-icon-margin;
  }
}
