@mixin arp-button-variant(
  $color,
  $focus-color,
  $active-color,
  $background,
  $focus-background,
  $active-background,
  $border,
  $focus-border,
  $active-border,
  $shadow,
  $hover-shadow
) {
  color: $color;
  background-color: $background;
  border-color: $border;
  box-shadow: $shadow;

  &:hover,
  &:active {
    color: $focus-color !important;
    background-color: $focus-background !important;
    border-color: $focus-border !important;
    box-shadow: $hover-shadow;
    
    transform: translateY(-2px);
  }
  &:focus {
    color: $focus-color !important;
    box-shadow: none !important;
    background-color: $focus-background !important;
  }

  &.active,
  .open > &.dropdown-toggle,
  .show > &.dropdown-toggle {
    color: $active-color;
    background-color: $active-background !important;
    border-color: $active-border !important;

    &:hover,
    &:focus,
    &.focus {
      color: $focus-color;
      background-color: $active-background;
      border-color: $active-border;
    }
  }

  .open > &.dropdown-toggle.btn-icon {
    color: inherit;
    background-color: $background;

    &:hover {
      background-color: $focus-background;
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      background-color: $background !important;
      border-color: $border !important;
    }
    @include hover {
      background-color: $background !important;
      border-color: $border !important;
      box-shadow: none !important;
      transform: none !important;
    }
  }
}

@mixin button() {
  @each $name, $value in $theme-colors {
    &.btn-#{$name} {
      $lighten: lighten($value, 5);      
      @include arp-button-variant(
        $white,   // color
        $white,   // focus-color
        $white,   // active-color
        $value,   // background
        $lighten, // focus-background
        $lighten, // active-background
        $value,   // border
        $lighten, // focus-border
        $lighten,  // active-border
        none,
        arp-shadow-4dp($value)
      );
    }
  }
}

@mixin button-outline() {
  @each $name, $value in $theme-colors {
    &.btn-outline-#{$name} {
      @include arp-button-variant(
        $value, // color
        $white, // focus-color
        $white, // active-color
        $white, // background
        $value, // focus-background
        $value, // active-background
        $value, // border
        $value, // focus-border
        $value,  // active-border
        none,
        arp-shadow-4dp($value)
      );
    }
  }
}

// Button Raised
@mixin button-raised() {
  @each $name, $value in $theme-colors {
    &.btn-raised-#{$name} {
      @include shadow-4dp-color($value);

      $lighten: lighten($value, 5);
      @include arp-button-variant(
        $white,   // color
        $white,   // focus-color
        $white,   // active-color
        $value,   // background
        $lighten, // focus-background
        $lighten, // active-background
        $value,   // border
        $lighten, // focus-border
        $lighten,  // active-border
        arp-shadow-3dp($value), // shadow
        arp-shadow-4dp($value) // hover-shadow
      );
    }
  }
}

// // Button Outline
// @mixin button-outline-color($color) {
//   border-color: $color;
//   background: rgba($color, 0.1);
// }

// @mixin button-outline-colors() {
//   @each $name, $value in $theme-colors {
//     &.btn-#{$name} {
//       &:focus {
//         @include button-outline-color($value);
//       }
//       &:hover {
//         @include button-outline-color($value);
//         @include button-shadow-color($value);
//       }
//     }
//   }
// }

// Icon button

// // Social button
// @mixin social-button($color) {
//   background: $color;
//   border-color: $color;
//   color: get-contrast($color);

//   &:active,
//   &:focus,
//   &:hover {
//     background: darken($color, 5%);
//     border-color: darken($color, 5%);
//     color: get-contrast($color);
//     // @include button-shadow-color($color);
//   }
// }

// @mixin social-button-outline($color) {
//   @include button-outline-color($color);
//   color: $color;
//   &:focus {
//     @include button-outline-color($color);
//   }
//   &:hover {
//     @include button-outline-color($color);
//     // @include button-shadow-color($color);
//   }
// }
