// Background gray colors
.gray-100 {
  background-color: $gray-100;
}
.gray-200 {
  background-color: $gray-200;
}
.gray-300 {
  background-color: $gray-300;
}
.gray-400 {
  background-color: $gray-400;
}
.gray-500 {
  background-color: $gray-500;
}
.gray-600 {
  background-color: $gray-600;
}
.gray-700 {
  background-color: $gray-700;
}
.gray-800 {
  background-color: $gray-800;
}
.gray-900 {
  background-color: $gray-900;
}
.black {
  background-color: $black;
}
// Text gray colors
.text-gray-100 {
  color: $gray-100;
}
.text-gray-200 {
  color: $gray-200;
}
.text-gray-300 {
  color: $gray-300;
}
.text-gray-400 {
  color: $gray-400;
}
.text-gray-500 {
  color: $gray-500;
}
.text-gray-600 {
  color: $gray-600;
}
.text-gray-700 {
  color: $gray-700;
}
.text-gray-800 {
  color: $gray-800;
}
.text-gray-900 {
  color: $gray-900;
}
.text-black {
  color: $black;
}

// Text colors based on theme color map
@each $name, $value in $theme-colors {
  .bg-#{$name} {
    background-color: $value !important;
  }
  .text-#{$name} {
    color: $value !important;
  }
}

// Text and background based on solid colors map
@each $name, $value in $solid-colors {
  .#{$name}, .bg-#{$name} {
    background-color: $value;
  }
  .text-#{$name} {
    color: $value;
  }
}



// background color opacity 
// @each $colorName, $map in $opacity-map {
//   @each $name, $value in $map {
//     .#{$colorName}-#{$name} {
//       background-color: $value;
//     }
//   }
// }